@import "../../styles/variables";


.footer {
  display:     flex;
  align-items: center;
  padding:     50px 0;
  .footerInner {
    display:         flex;
    align-items:     center;
    justify-content: space-between;
  }
  .language {
    select {
      min-width: 170px;
    }
  }
  .links {
    display:      flex;
    align-items:  center;
    margin-right: auto;
    li {
      margin-left: 30px;
      color:       #a9a9a9;
      a {
        color: #a9a9a9;
      }
    }
  }
  .social {
    display:     flex;
    align-items: center;
    li {
      margin-left: 24px;
      a {
        display: flex;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .footer {
    .footerInner {
      flex-direction:  column;
      align-items:     center;
      justify-content: center;
    }
    .links {
      flex-direction:  column;
      justify-content: center;
      width:           100%;
      order:           1;
      li {
        margin: 0 0 32px 0;
      }
    }
    .language {
      width:         100%;
      max-width:     320px;
      order:         2;
      margin-bottom: 32px;
      select {
        margin-right: 0;
      }
    }
    .social {
      order: 3;
      li:first-child {
        margin-left: 0;
      }
    }
  }
}
