@font-face {
  // Light
  font-family: Roboto;
  src:         url('../public/fonts/Roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  // Regular
  font-family: Roboto;
  src:         url('../public/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  // Bold
  font-family: Roboto;
  src:         url('../public/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:  normal;
}

@font-face {
  // Light
  font-family: Poppins;
  src:         url('../public/fonts/Poppins/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
  font-style:  normal;
}

@font-face {
  // Regular
  font-family: Poppins;
  src:         url('../public/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style:  normal;
}

@font-face {
  // Bold
  font-family: Poppins;
  src:         url('../public/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style:  normal;
}
